.overlay-black {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}

.nav-bar{
    position: relative;
    z-index: 52;
}

.subHeader{
    text-align: center;
    color: white;
    font-size: 30px;
    z-index: 200;
    position: relative;
    opacity: 1;
}

.componentWrapper {
    margin-top: 40px;
    margin-bottom: 70px;
    position: relative;
    z-index: 52!important;
}

.container-wrapper {
    background-color: rgba(255, 255, 255, 0.7) !important;
    padding: 40px;
    border-radius: 8px;
}

.thankYouMsg {
    font-size: 30px;
    line-height: 45px;
    width: max-content;
    text-align: center;
}

.pleaseWaitContent {
    font-size : 16px;
    margin-top: 20px;
    padding: 0;
    text-align: center;
}

.buttonWrapper{
    margin-top: 50px;
    padding: 0;
}

.contentMarginTop{
    margin-top: 50px;
  }

@media (max-width: 576px) {
    .componentWrapper {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    .container-wrapper {
      padding: 10px;
    }
  
    label {
      font-size: 12px;
    }
  
    select {
      font-size: 12px;
    }
}

@media (min-width: 760px) and (max-width: 1366px) {
    .aboutMTop {
      margin-top: 20px;
      position: relative !important;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
  .componentWrapper {
    max-width: 719px!important;
  }
}

@media (max-width: 577px) {
  .componentWrapper {
    max-width: 719px!important;
  }
}