.overlay-black {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}
.postal-code{
  margin-left: 150px;
}
.postal-code2{
  margin-left: 20px;
}

.nav-bar{
    position: relative;
    z-index: 52;
}

.subHeader{
    text-align: center;
    color: white;
    font-size: 30px;
    z-index: 200;
    position: relative;
    opacity: 0.8;
}

.componentWrapper {
    margin-top: 40px;
    margin-bottom: 70px;
    position: relative;
    z-index: 52!important;
}

.container-wrapper {
    background-color: rgba(255, 255, 255, 0.7) !important;
    padding: 40px;
    border-radius: 8px;
}

.contentMarginBottom {
  margin-bottom: 20px;
}

.contentMarginTop{
  margin-top: 50px;
}


.totalPremiumDiv{
  // background-color: #ba172d;
  background-color: #004177;
  border-radius: 8px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.totalPremiumDiv span{
  color: white;
  font-size: 0.9rem;
}

.totalAmount{
  font-weight: 700;
  white-space: pre;
  color: #ffff;
  padding: 9px 0px;
  padding-bottom: 0!important;
  margin-bottom: 0px;
}

.premiumManDiv{
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
  margin: auto;
  display: flex;
   justify-content: center !important;
}



@media (max-width: 576px) {
    .componentWrapper {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    .container-wrapper {
      padding: 10px;
    }
  
    label {
      font-size: 12px;
    }
  
    select {
      font-size: 12px;
    }
}

@media (min-width: 760px) and (max-width: 1366px) {
    .aboutMTop {
      margin-top: 20px;
      position: relative !important;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
  .componentWrapper {
    max-width: 719px!important;
  }
  .mt-110 {
    margin-top: 110px;
  }

  .premiumManDiv{
    bottom: 110px;
  }
}

@media (max-width: 577px) {
  .componentWrapper {
    max-width: 719px!important;
  }
  .mt-110 {
    margin-top: 110px;
  }

  .premiumManDiv{
    bottom: 84px;
  }
}