.overlay-black {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}

.nav-bar{
    position: relative;
    z-index: 52;
}
.postal-code{
  margin-left: 150px;
}
.postal-code2{
  margin-left: 20px;
}
.date{
  padding-left: 0px;
  padding-right: 0px;
}
.subHeader{
    text-align: center;
    color: white;
    font-size: 30px;
    z-index: 200;
    position: relative;
    opacity: 0.8;
}

.componentWrapper {
    margin-top: 40px;
    margin-bottom: 70px;
    position: relative;
    z-index: 52!important;
}

.content-wrapper {
    background-color: rgba(255, 255, 255, 0.7) !important;
    padding: 40px;
    border-radius: 8px;
}

.contentMarginBottom {
  margin-bottom: 20px;
}

.content-wrapper .row {
  border-top: 1px solid #ddd;
  padding: 0;
}

.content-wrapper input {
  position: relative;
  top: 17px;
}


.m-top {
  border-right: 5px solid #ddd;
  padding: 20px 15px;
}

.m-top-2 {
  padding: 20px 9px;
}

th{
  background-color: transparent;
}

td{
  background-color: transparent;
}

.totalPremiumDiv{
  background-color: #004177;
  border-radius: 8px;
  padding: 10px 20px;
}

.totalPremiumDiv span{
  color: white;
  font-size: 0.9rem;
}

.totalAmount{
  font-weight: 700;
  white-space: pre;
  color: #ffff;
  padding: 9px 0px;
  padding-bottom: 0!important;
  margin-bottom: 0px;
}

.contentMarginTop{
  margin-top: 40px;
}


@media (max-width: 576px) {
    .componentWrapper {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    .content-wrapper {
      padding: 10px;
    }
  
    label {
      font-size: 12px;
    }

    th {
      font-size: 12px;
    }

    td{
      font-size: 12px;
    }
  
    select {
      font-size: 12px;
    }
}

@media (min-width: 760px) and (max-width: 1366px) {
    .aboutMTop {
      margin-top: 20px;
      position: relative !important;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
  .componentWrapper {
    max-width: 719px!important;
  }
}

@media (max-width: 577px) {
  .componentWrapper {
    max-width: 719px!important;
  }
}
.disabled-section {
  pointer-events: none;
  opacity: 0.6;
}
