<div class="modal-header">
    <h5 id="ThankYou_h5_" class="modal-title">THANK YOU !</h5>
    <span class="cross-span" (click)="exit()">
    <i id="ThankYou_i_"type=button class="fa-solid fa-xmark icon-size" ></i>
 </span>
</div>
  <div class="modal-body m-body">
    <p *ngIf="msg!='sanction'" id="ThankYou_p_">    Thank you for choosing JKH Immigration Bond Insurance Policy.</p>
    <p *ngIf="msg=='sanction'" id="b2c-p_product">Pending sanction screening. Please contact your servicer at distribution.servicers@JKH.com.sg/their individual email before trying again</p>
    <!-- <p *ngIf="msg=='sanction'" id="b2c-p_product">Pending sanction screening. Please contact your servicer @ distribution.servicers@JKH.com.sg or their individual emails before trying again</p> -->
    <div class="col-md-2 offset-md-10">
      <button id="ThankYou_button_exit" type="button" class="btn btn-danger custom-btn" (click)="exit()">Exit</button>
    </div>
  </div>
  
