.overlay-black {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}

.nav-bar{
    position: relative;
    z-index: 52;
}
.paylinkHead{
  font-size: 28px !important;
}
.subHeader{
    text-align: center;
    color: white;
    font-size: 30px;
    z-index: 200;
    position: relative;
    opacity: 0.8;
}

.componentWrapper {
    margin-top: 40px;
    margin-bottom: 70px;
    position: relative;
    z-index: 52!important;
}

.container-wrapper {
    background-color: rgba(255, 255, 255, 0.7) !important;
    padding: 40px;
    border-radius: 8px;
}

.labelContainDiv{
    display: flex;
    align-items: center;
    justify-content: end;
}

select {
    background-color: #6a625a;
    border-color: #6a625a;
    margin-bottom: 0px;
    border-radius: 8px;
    color: #fff;
}

.totalPremiumDiv{
  background-color: #004177;
  border-radius: 8px;
  padding: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.totalPremiumDiv span{
  color: white;
  font-size: 0.9rem;
}

.totalAmount{
  font-weight: 700;
  white-space: pre;
  color: #ffff;
  padding: 0px;
  padding-bottom: 0!important;
  margin-bottom: 0px;
}

.contentMarginTop{
  margin-top: 50px;
}

@media (max-width: 576px) {
    .componentWrapper {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    .container-wrapper {
      padding: 10px;
    }
  
    label {
      font-size: 12px;
    }
  
    select {
      font-size: 12px;
    }
}

@media (min-width: 760px) and (max-width: 1366px) {
    .aboutMTop {
      margin-top: 20px;
      position: relative !important;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
  .componentWrapper {
    max-width: 719px!important;
  }
}

@media (max-width: 577px) {
  .componentWrapper {
    max-width: 719px!important;
  }
}
.quote-timer {
  display: flex;
  justify-content: center; /* Horizontal centering */
  align-items: center;     /* Vertical centering (if needed) */
  text-align: center;
  margin-top: 20px;        /* Optional spacing */
}

.quote-timer p {
  font-size: 16px;
  font-weight: bold;
  color: #ed0039;
  margin: 0;
}
.disabled-section {
  pointer-events: none;
  opacity: 0.6;
}
