
.error-text {
  color: #ed0039;
  font-weight: 900;
  font-size: 14px;
}
.cross-span {
   padding-left: 75%;
 }
.pad-left{

padding-top: 30px !important;
padding-bottom: 0px !important;
}
.inputField {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #969696;
    border-radius: 0px;
    padding: 5px 0px;
  }
  
  .inputField:focus,
  .inputField:active {
    outline: none;
    box-shadow: none;
  }
  
  .inputFieldLabel {
    border: none;
    padding-left: 0px !important;
  }
  
  .inputFieldLabel::after {
    background-color: transparent !important;
  }
  
  .btn-confirm {
    background-color: #035ba3;
    color: white;
    border-radius: 8px;
    padding: 10px 10px;
    border-color: #035ba3

;
    width: 100%;
  }
  .btn-confirm:focus,
  .btn-confirm:hover {
    background-color: #035ba3;
    border-color: #035ba3;
  }
  
  .btn-gray {
    background-color: #6a625a;
    border-color: #6a625a;
    color: white;
    border-radius: 8px;
    padding: 10px 10px;
    width: 100%;
  }
  
  .btn-gray:hover {
    background-color: #5a524b;
    border-color: #6a625a;
  }
  
  .m-body {
    padding: 0 20px;
  }
  
  .icon-size {
    cursor: pointer;
    font-size: 20px;
    padding-left: 79% !important;
  }
  .icon-size:hover {
    color: #bd002e;
  }
  .m-top{
margin-top: 20px !important;
  }
  @media (max-width: 576px) {
    .footer button {
      font-size: 13px;
    }
    .icon-size {
      cursor: pointer;
      font-size: 18px;
      padding-left: 60% !important;
    }
  }
  @media (min-width: 576px) and  (max-width: 990px) {
    
    .icon-size {
      cursor: pointer;
      font-size: 18px;
      padding-left: 65% !important;
    }
  }