<div class="row mobileLogoBg">
  <div class="col-3 d-none d-sm-block logo-padding logo-background" >
      <!-- <img
        class="JKH-logo"
        src="https://insure.JKH.com.sg/images/JKH_logo.png"
        alt="JKH-logo"
      /> -->
        <!-- <img
        class="JKH-logo"
        src="assets\images\.png"
        alt="JKH-logo"
      /> -->
      <div class="logo-wrapper JKH-logo">
  <img src="assets/images/.png" alt="Logo" class="logo" />
</div>

    </div>
    <div class="col-3 d-block d-sm-none mobileLogoWraper">
      <img
        class="JKH-logo"
        src="https://insure.JKH.com.sg/images/JKH_logo_mobile.png"
        alt="JKH-logo"
      />
    </div>
    <div class="col-6 productNameDiv">
      <h1>JKH Immigration Bond</h1>
    </div>
    <div class="col-3 intermediaryId">
      <p class="fa-user-color">
        <i class="fa-solid fa-user"></i> {{ intermediary }}
      </p>
    </div>
  </div>
  
  

