.overlay-black {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.3;
}

.nav-bar{
    position: relative;
    z-index: 52;
}

.subHeader{
    text-align: center;
    color: white;
    font-size: 30px;
    z-index: 200;
    position: relative;
    opacity: 1;
}

.componentWrapper {
    margin-top: 40px;
    margin-bottom: 70px;
    position: relative;
    z-index: 52!important;
}

.container-wrapper {
    background-color: rgba(255, 255, 255, 0.7) !important;
    padding: 40px;
    border-radius: 8px;
}

.content {
    justify-content: center;
    align-items: center;
    font-size: 18px;
    display: flex;
    gap: 2em;  
}

.content span {
    font-weight: bold;
    color: #5d5146;
}

.textQRwrap{
    width: 30%;
    padding: 0px;
}

.qrcode{
    width: 100%;
}

.description{
    padding-top: 10px;
    text-align: center;
}

.gry-btn{
    border-color: #6a625a !important;
    background-color: #6a625a !important;
}

.contentMarginTop{
    margin-top: 40px;
}

@media (max-width: 576px) {
    .textQRwrap{
        width: 50%;
    }

    .componentWrapper {
      margin-top: 20px;
      margin-bottom: 20px;
    }
  
    .container-wrapper {
      padding: 10px;
    }
  
    label {
      font-size: 12px;
    }
  
    select {
      font-size: 12px;
    }
    
    .gry-btn{
        font-size: 12px !important;
    }
}

@media (min-width: 760px) and (max-width: 1366px) {
    .aboutMTop {
      margin-top: 20px;
      position: relative !important;
    }
}

@media (min-width: 577px) and (max-width: 768px) {
  .componentWrapper {
    max-width: 719px!important;
  }
}

@media (max-width: 577px) {
  .componentWrapper {
    max-width: 719px!important;
  }
}

@media (max-width: 990px) {
    .custom-btn{
      font-size: 12px !important;
      }
      .icon-size {
        font-size: 12px !important; 
    }
}

@media screen and (max-width: 390px){
    .custom-btn{
      font-size: 12px !important;
      }
      .icon-size {
        font-size: 12px !important; 
    }
}