/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import "bootstrap/scss/bootstrap";

@font-face {
  font-family: FS Me;
  font-weight: 300;
  src: url(./assets/fonts/fs_me/FSMeWeb-Light.woff) format("woff");
}

@font-face {
  font-family: FS Me;
  font-weight: 500;
  src: url(./assets/fonts/fs_me/FSMeWeb-Regular.woff) format("woff");
}

@font-face {
  font-family: FS Me;
  font-weight: 700;
  src: url(./assets/fonts/fs_me/FSMeWeb-Bold.woff) format("woff");
}

* {
  font-family: "FS Me", sans-serif;
}

html {
  background-image: url("assets/images/15.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  overflow: auto;
  zoom: 80%;
}

body {
  background-color: transparent !important;
  height: 100%;
}

.modal-backdrop {
  width: 100% !important;
  height: 100% !important;
}
.hide_JKH_cap {
  display: none;
}

.row {
  margin-left: 0 !important;
  margin-right: 0 !important;
  padding-left: 0 !important;
}

.custom-btn {
  float: right;
  padding: 10px;
  border-radius: 8px;
  background-color: #035ba3  !important;
  font-size: 18px !important;
  width: 100%;
  border: none;
  color: #fff !important;
}

.custom-btn-grey {
  float: right;
  padding: 10px;
  border-radius: 8px;
  background-color: #6a625a !important;
  font-size: 18px !important;
  width: 100%;
  border: none;
  color: #fff !important;
}

.back-arrow {
  color: white;
  padding: 8px 0px;
  font-size: 25px;
  cursor: pointer;
}
.error-text {
  color: #ed0039;
  font-weight: 400;
  font-size: 16px;
}
.validation-text {
  color: #ed0039;
  font-weight: 400;
  font-size: 14px;
  margin-top: 7px;
}

@media (max-width: 576px) {


  body {
    overflow-y: scroll;
  }
}
.readOnlyInput {
 
  cursor: not-allowed;
}
.red-text {
  color: #ed0039;
}
.p-top{
  padding-top: 2px;
  }
@media (min-width: 1024px) and (max-width: 1366px) {
  html {
    zoom: 80% !important;
    background-image: url("assets/images/15.jpg") !important;
    overflow-x: hidden;
    background-position: bottom;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 912px) {
  html {
    background-image: url("assets/images/15.jpg");
    overflow-x: hidden;
    background-position: bottom;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }
}

@media (min-width: 760px) and (max-width: 1366px) {
  html {
    zoom: 80% !important;
    background-image: url("assets/images/15.jpg") !important;
    // height: 60rem !important;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    // height: 60rem;
    overflow: auto;
    z-index: -1;
    position: relative;
  }
}

@media screen and (min-width: 577px) and (max-width: 700px) {
  html {
    zoom: 65% !important;
  }
}

:root{
  --color-table-head: #5e3434;
}
.header-p {
  background: var(--color-table-head);
  color: white;
}